<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foods App</title>
</head>
<body>
    <!--views/index.js-->
   <a href="/foods">Browse Food Items</a>
   <h1>Welcome to the Foods App</h1>
   <p>An app for collecting your favorite meal items</p>
</body>
</html>